<template>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add Contact</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add </h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" v-model="row.name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" v-model="row.email">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectRounded0">Gender</label>
                                <select class="custom-select rounded-0" id="exampleSelectRounded0" v-model="row.gender">
                                    <option :value="1">Male</option>
                                    <option :value="2">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." v-model="row.content"></textarea>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" @click="save()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: "Add",
    data(){
        return{
            row: {
                name: '',
                email: '',
                gender: '',
                content: ''
            }
        }
    },

    methods: {
        save(){
            axios.post('/store', {
                row: this.row,
            }).then(response => {
                if(response.data == 'success'){
                    this.$swal('Success!' , 'You have successfully added your contact. ','success')
                        .then(function() {
                            window.location.href = '/';
                        })
                }
            }).catch( error => {
                console.log(error.response)
            })
        }
    }
}
</script>

<style scoped>

</style>
