<template>
    <div class="container">
        <link rel='stylesheet' href=
            'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css'>
        <div class="ataTables_wrapper dt-bulma">
            <div class="column is-half">
                <input class="input" type="text" v-model="tableData.search" placeholder="Search by name,email"
                       @input="getProjects()">
            </div>
            <div class="column is-half">
                    <labe>Show</labe>
                    <div class="select">
                        <select v-model="tableData.length" @change="getProjects()">
                            <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                        </select>
                    </div>
                    entries
            </div>
            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" :key="componentKey">
                <tbody>
                <tr v-for="project in contacts" :key="project.id">
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.email}}</td>
                    <td>{{project.gender}}</td>
                    <td>{{project.content}}</td>
                    <td>
                        <div class="dt-button-collection">
                            <a :href="/edit-contacts/+project.id" class="btn btn-warning btn-sm" >
                                <span class="fa fa-pen"></span> Edit</a>&nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" @click="recordDelete(project.id)">
                                <span class="fa fa-trash"></span> Delete</button>&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>
                </tbody>
            </datatable>
            <pagination :pagination="pagination"
                        @prev="getProjects(pagination.prevPageUrl)"
                        @next="getProjects(pagination.nextPageUrl)">
            </pagination>

        </div>
    </div>

</template>

<script>
import Datatable from './Datatable.vue';
import Pagination from './Pagination.vue';
import axios from 'axios';

export default {
    components: { datatable: Datatable, pagination: Pagination },
    created() {
        this.getProjects();
    },
    data() {
        let sortOrders = {};
        let columns = [
            {width: '3%', label: 'id', name: 'id' },
            {width: '20%', label: 'name', name: 'name'},
            {width: '33%', label: 'email', name: 'email'},
            {width: '3%', label: 'gender', name: 'gender'},
            {width: '33%', label: 'content', name: 'content'},
             {width: '33%', label: 'Actions', name: ''},
        ];
        columns.forEach((column) => {
            sortOrders[column.name] = -1;
        });
        return {
            contacts: [],
            columns: columns,
            sortKey: 'name',
            sortOrders: sortOrders,
            perPage: ['10', '20', '30'],
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },
            componentKey: 0,
        }
    },
    methods: {
        forceRerender() {
            this.componentKey += 1
        },
        getProjects(url = '/contacts') {
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    let data = response.data.response.data;
                    if (this.tableData.draw == response.data.draw) {
                        this.contacts = data;
                        this.configPagination(response.data.response);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.$forceUpdate()
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        recordDelete(id){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                buttonsStyling: true
            }).then( (isConfirm) =>{
                if(isConfirm.value === true) {
                    axios.post('contact-delete/'+id, {
                    }).then(resp => {
                        if(resp.data === 'success') {
                            this.getProjects()
                        }
                    })
                }
            });
        }
    }
};
</script>
<style>
body {
    font-size: 140%;
}

h2 {
    text-align: center;
    padding: 20px 0;
}

table caption {
    padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
    white-space: nowrap;
}

.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
}
</style>
