<template>
    <table class="table table-hover text-nowrap">
        <thead>
        <tr>
            <th v-for="column in columns" :key="column.name" @click="$emit('sort', column.name)"
                :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting sorting_asc' : 'sorting sorting_desc') : 'sorting'"
                :style="'width:'+column.width+';'+'cursor:pointer;'">
                {{column.label}}
            </th>
        </tr>
        </thead>
        <slot></slot>
    </table>
</template>

<script>
export default {
    name: "DataTable",
    props: ['columns', 'sortKey', 'sortOrders']
}
</script>

<style scoped>

</style>
