<template>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Contact</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit </h3>
                    </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" v-model="row[0].name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" v-model="row[0].email">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelectRounded0">Gender</label>
                                <select class="custom-select rounded-0" id="exampleSelectRounded0" v-model="gender">
                                    <option :value="1">Male</option>
                                    <option :value="2">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." v-model="row[0].content"></textarea>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" @click="save()" class="btn btn-primary">Submit</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
    name: "Edit",
    props: ['row'],
    data(){
        return{
            row: this.row,
            gender:(this.row[0].gender === 'Male') ? 1 : 2
        }
    },

    methods :{
        save(){
            axios.put('/edit-save', {
                row: this.row,
                gender: this.gender
            }).then(response => {
                if(response.data == 'success'){
                    this.$swal('Success!' , 'You have successfully edited your contact. ','success')
                        .then(function() {
                            window.location.href = '/';
                        })
                }
            }).catch( error => {
                console.log(error.response)
            })
        }
    }


}
</script>

<style scoped>

</style>
